<nav class="bg-white dark:bg-gray-900 duration-700 bg-opacity-75 backdrop-blur-lg fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="p-4 max-w-screen-xl flex flex-wrap items-center justify-between mx-auto ">
        <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/images/devops_logo.png" class="h-8" alt="devops_logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
            DevOps Dashboard
            </span>
        </a>
        
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <app-dark-mode-toggle [enableDark]="true"></app-dark-mode-toggle>
        </div>
    </div>
</nav>

  
