<select [(ngModel)]="selectedValue" (ngModelChange)="onSelectChange($event)" id="select_build" class="w-56 border text-sm rounded-lg cursor-pointer  block w-full p-2.5 dark:bg-gray-700 bg-gray-50  border-gray-300 text-gray-900 focus:ring-primary-500 focus:border-primary-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
    
    <option *ngFor="let option of options" [value]="option.value" class="text-gray-900 dark:text-white cursor-pointer">
        {{ option.label}}
    </option>
    
</select>
